*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    background-image: url(../IMG/BACKGROUD/Backgroud_game/PapersPlease_back.webp);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: #343c7c; 
}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
    background:rgb(29, 29, 29);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-image: url(..IMG/Logo_2-removebg-preview.png);
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 239vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 239vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
nav{
    position: sticky;
    top: 0;
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    position: sticky;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: sticky;
    top: 10px;
    margin-left: 230px;
    color: #fff;
    cursor: pointer;
}
.menu{
    float: left;
    margin-top: -150px;
    margin-left: 200px;
}
.Buscador{
    color: white;
    margin-top: -400px;
    margin-right: -50px;
    margin-left: 405px;
}
.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-input {
    font-size: 15px;
    color: white;
    width: 200px;
    padding: 10px;
    background-color: #1d1d1d;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 9999;
    background-color: #1d1d1d;
    width: 220px;
    max-height: 320px;
    overflow-y: auto;
}
.autocomplete-item {
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.autocomplete-item:hover {
    background-color: #3d3c3c;
}
.autocomplete-item-link {
    color: #333;
    text-decoration: none;
}
/*contenido*/
.contenido{
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: content-box;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    background: rgba(26, 25, 25, 0.582);
    color: white;
}
.contenido p{
    font-size: 40px;
    margin-left: 50px;
    box-sizing: border-box;
}
.cont-info{
    box-sizing: content-box;
    width: 1000px;
}
.carrocel{
    box-sizing: content-box;
    width: 700px;
    position: relative;
}
.Play{
    width: 600px;
    margin-left: 50px;
}
#Display{
    height: 340px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.flechas{
    position: absolute;
    margin-top: 300px;
    margin-left: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
    color: #343c7c;
}
.info-game{
    box-sizing: content-box;
    width: 360px;
    margin-top: -77.3%;
    margin-left: 820px;
}
.regre img{
    background-color: #343c7c;
    border: none;
    margin-left: -6px;
    margin-top: -5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.info-game input{
    background-color: #343c7c;
    border: none;
    border-radius: 5px;
    margin-left: 90px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.requisitos{
    margin-left: 50px;
    box-sizing: content-box;
    width: 450px;
}
.requisitos p{
    font-size: 20px;
    border-left: #343c7c solid 5px;
}
.requisitos-2{
    margin-left: 580px;
    margin-top: -268px;
    box-sizing: content-box;
    width: 450px;
}
.requisitos-2 p{
    font-size: 20px;
    border-left: #343c7c solid 5px;
}
.info-game p{
    color: white;
    text-align:justify;
    font-size: 16px;
}
.Copy{
    color: #aaaaaa;
    margin-left: 100px;
    margin-top: 5%;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../IMG/LOADER/Loader.gif") 50% 50% no-repeat rgb(0, 0, 0);
    opacity: .8;
}